<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Editar Convidado</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{https://use.fontawesome.com/releases/v5.4.1/css/all.css}" rel="stylesheet" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>

<body>
<div class="container">
	<h1>Editar convidado</h1>
	
	<hr style="margin-top: 10px;">
	
	<form th:action="@{/salvar}" th:object="${convidado}" method="post">
		<div class="row">
			<input type="hidden" id="id" name="id" th:value="${convidado.id}">
			<div class="form-group" th:classappend="${#fields.hasErrors('nome')}? 'has-error'">
				<label for="nome" class="col-form-label">Nome completo</label> <input type="text" th:field="*{nome}" class="form-control" style="width: 300px;" id="nome" placeholder="Nome" th:value="${convidado.nome}"> <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="text-danger"></span>
			</div>
			<div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
				<label for="email" class="col-form-label">E-mail</label> <input type="text" th:field="*{email}" class="form-control" style="width: 300px;" id="email" placeholder="E-mail" th:value="${convidado.email}"> <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label for="telefone">Telefone</label> <input
				type="text" class="form-control" style="width: 300px;" id="telefone" name="telefone" placeholder="Telefone" th:value="${convidado.telefone}" />
			</div>
			<button type="submit" class="btn btn-success">Salvar</button>
			<a th:href="@{/listar}" class="btn btn-primary ">Voltar</a>
		</div>
	</form>	
</div>	
</body>
</html>