<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>ListaVIP</title>
	<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{https://use.fontawesome.com/releases/v5.4.1/css/all.css}" rel="stylesheet" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
	</head>
	<body>
		<a th:href="@{/logout}" class="btn btn-sm btn-lg btn-primary pull-right" style="margin-top: 10px;border-right-width: 1px;margin-right: 10px;"><i class="fas fa-power-off"> Logout</i></a>
		<div class="container" >
			<div class="jumbotron" align="center" style="margin-top: 50px;">
				<h1 th:inline="text">Seja bem vindo [[${#httpServletRequest.remoteUser}]] ao ListaVIP</h1>
				<div class="form-group" align="center">
					<a th:href="@{/listar}" class="btn btn-lg btn-primary"><i class="fas fa-list"> Lista de Convidados</i></a>
                    <a th:href="@{/novo}" class="btn btn-lg btn-primary"><i class="fas fa-user-plus"> Adicionar Convidado</i></a>
				</div>

			</div>
		</div>
	    
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	    <script src="bootstrap/js/bootstrap.min.js"></script>
	
	</body>
</html>