<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>ListaVIP</title>
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{https://use.fontawesome.com/releases/v5.4.1/css/all.css}" rel="stylesheet" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>
	
	<div class="container">
		<h1>Lista de Convidados</h1>
		
		<hr style="margin-top: 10px;"/>
		
		<div><span th:text=${mensagem}></span></div>
		
		<div th:if="${convidados.empty}"><span>Nenhum convidado!</span></div>
		
		<div id="listaDeConvidados" style="width: 800px;">
			<table class="table table-hover">
				<thead>
					<tr>
						<th style="width: 200px;">Nome</th>
						<th style="width: 300px;">Email</th>
						<th>Telefone</th>
					</tr>
				</thead>
				<tr th:each="convidado : ${convidados}">
					<td><span th:text="${convidado.nome}"></span></td>
					<td><span th:text="${convidado.email}"></span></td>
					<td><span th:text="${convidado.telefone}"></span></td>
					<td>
					<a th:href="@{editar/{id}(id=${convidado.id})}" class="btn btn-success"><i class="fas fa-user-edit ml-2"> Alterar</i></a>
					<a th:href="@{excluir/{id}(id=${convidado.id})}" class="btn btn-danger"><i class="fas fa-user-times ml-2"> Excluir</i></a>	
					</td>	
				</tr>

			</table>
			<a th:href="@{/}" class="btn btn-primary ">Voltar</a>
		</div>
	</div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>

</body>
</html>