<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{https://use.fontawesome.com/releases/v5.4.1/css/all.css}" rel="stylesheet" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>

<div class="container">

    <div class="row" align="center">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form th:action="@{/login}" method="post">
                <fieldset>
                    <h1>Login</h1>

                    <div th:if="${param.error}">
                        <div class="alert alert-danger">
                            Usuário ou senha inválidos!
                        </div>
                    </div>
                    <div th:if="${param.logout}">
                        <div class="alert alert-info">
                            Você deslogou!
                        </div>
                    </div>

				<div class="input-group" style="padding-bottom: 5px;right: 0px;left: 145px;">
          			<span class="input-group-addon" id="basic-addon1"><i class="fa fa-user"></i></span>
                    <input type="text" name="username" id="username" class="form-control input-sm"
                               placeholder="usuario" required="true" autofocus="true" style="width:225px;" align="center"/>
               </div>        
               <div class="input-group" style="padding-bottom: 10px;right: 0px;left: 145px;">
               		<span class="input-group-addon" id="basic-addon1" style="padding-right: 10px;"><i class="fa fa-key"></i></span>
                    <input type="password" name="password" id="password" class="form-control input-sm"
                               placeholder="senha" required="true" style="width:225px;"/>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6" style="padding-bottom: 5px;right: 0px;left: 145px;">
                            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Entrar"/>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>